.header-section{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/banner.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover; 
 
}


/* class content section*/

.class-section{
    background-image:linear-gradient(transparent,transparent), url(../../images/1.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
}

    .class-container{
        padding:50px 0 50px;
    }

    .class-content {
        position: relative;
        overflow: hidden;
        width:100%; 
        height:100%; 
        
        h2{
            background-image: url(../../images/grafiti.svg);
            background-position:left;
            background-repeat: no-repeat;
        }
      }

      .image-class{
        height:420px;
        object-fit: cover;
      }
      
      .class-text{
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height:420px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond semi-transparente */
        color: white;
        cursor: pointer;
        transition: top 0.3s ease-in-out; /* Transition douce */
      }
      
      .class-content:hover .class-text{
        top: 0;
      }


      .class-content:hover .class-title{
        display:none
      }


       /*TEAM SECTION*/

       .team-section{
        background-image: url(../../images/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      .team-container{
        position: relative;
        overflow: hidden;
        width:100%; 
        height:100%;
        border:1px solid silver;
        &:hover{
            border:none;
        }
      }

      .team-image{
        height:420px;
        object-fit:cover;
      }
   
        .team-icons{
            position: absolute;
            top:-100%;
            left: 0;
            width:100%;
            height:420px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond semi-transparente */
            color: white;
            cursor: pointer;
            transition: top 0.3s ease-in-out; /* Transition douce */
        }
        .team-container:hover .team-icons{
            top:0;
            
        }

        .team-container:hover .text{
          display:none
        }
      